.ItemListContainer{
    width:95%;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    padding-top: 2rem;

}

.greeting-h3{
    display: flex;
    justify-content: center;
    padding: 2rem;
}