.ListGroup {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(141, 141, 150, 0.653);
    border-radius: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}